<p id="notice"><%= notice %></p>

<p>
   <h2>
      <%= @recipe.name %>
   </h2>
   <%= @recipe.description %>
</p>

<p>
  <%= image_tag(@recipe.image_url, :width => "200", :height => "200") %>
</p>
<p>
  <b>Cuisine:</b>
  <%= @cuisine.title %>
</p>

<p>
  <b> Ingredients: </b>
    <% @ingredients.each do |f| %>
    <table>
        <tr>
            <td class="ingName" width= "15%"><%= f.ing_name%> </td>
            <td class="quantity" width= "30%"><%= f.quantiy %> </td>
        </tr>
    </table>
    <% end %>

<p>
  <b>Content:</b>
  <%= @recipe.content %>
</p>

<br/>
<g:plusone annotation="inline"></g:plusone>
<br/>
<br/>

<%= link_to 'Back', recipes_path %>
