<p id="notice"><%= notice %></p>
<h2>
<p>
  <%= @recipe.name %>
</p>
</h2>

<p>
  <%= image_tag(@recipe.image_url, :weight => "200", :height => "200") %>
</p>


<p>
  <b>Short description:</b>
  <%= @recipe.description %>
</p>


<p>
  <b>Cuisine:</b>
  <%= @cuisine.title %>
</p>

<p>
<b> Ingredients: </b>
    <% @ingredients.each do |f| %>
    <%= f.ing_name %>
    <% end %>
</p>

<p>
  <b>Content:</b>
  <%= @recipe.content %>
</p>


<br/>
<g:plusone annotation="inline"></g:plusone>
<br/>
<br/>

<%= link_to 'Back', recipes_path %>
