<h2>All Cuisines</h2>
 <%= will_paginate %>
<table>
  <tr>
    <th>Title</th>
  </tr>


 <div id="cuisines">

    <% @cuisines.each do |cuisine| %>
        <tr>
            <td><%= cuisine.title %></td>
            <td><%= link_to 'More', cuisine %></td>
        </tr>
    <% end %>

 </div>

</table>
<%= will_paginate %>

<br />



<%= link_to 'Add a Cuisine', new_cuisine_path %>
