<p id="notice"><%= notice %></p>

<p>
  <h2><%= @cuisine.title %></h2>
</p>

<p>
  <b>Description:</b>
  <%= @cuisine.description %>
</p>

<% if @recipes.any? %>
    <p>
       <b><h4> Related recipes: </h4></b>
       <% @recipes.each do |recipe|%>
            <table>
                <tr>
                <td class="recipeUrl" width = "1%"><%= image_tag(recipe.image_url, :weight => "100", :height => "100") %></td>
                <td class="recipeName" width = "15%"><h3><%= link_to recipe.name, recipe %></h3></td>
                <tr/>
            </table>

       <% end %>
    </p>
<% end%>

<%= link_to 'Edit', edit_cuisine_path(@cuisine) %> |
<%= link_to 'Back', cuisines_path %>
