<h2>Enter the ingredients </h2>
<br/>
<div id="searchIng" >
     <%= form_for ingredients_path, :method => 'get', :action => 'create' do %>
     <p>
        <%= text_field_tag :search_1, params[:search_1]%>   <br/>
        <%= text_field_tag :search_2, params[:search_2]%>   <br/>
        <%= text_field_tag :search_3, params[:search_3]%>   <br/>
        <%= text_field_tag :search_4, params[:search_4]%>   <br/>
        <%= submit_tag "Search", :name => nil %>
     </p>
     <% end %>
</div>
<br/>
<%= image_tag("pic1.jpg", :width => "500", :height => "300") %>














