<p id="notice">
    <%= notice %>
</p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
  <br/>
  <%= @recipe.description %>
</p>
<p>
  <b>Image url:</b>
  <%= image_tag(@recipe.image_url, :weight => "200", :height => "200") %>
</p>

<p>
  <b>Cuisine:</b>
  <%= @cuisine.title %>
</p>

<p>
<b> Ingredients: </b>
    <% @ingredients.each do |f| %>
    <%= f.ing_name %>
    <% end %>
</p>

<p>
  <b>Content:</b>
  <%= @recipe.content %>
</p>

<br/>
  <g:plusone annotation="inline"></g:plusone>

