<!DOCTYPE html>

<html>
    <head>
        <title>Foodogle</title>
        <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
        <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
        <%= stylesheet_link_tag 'custom', :media => 'screen' %>
        <%= javascript_include_tag :defaults, :cache => true %>
        <%= csrf_meta_tag %>
    </head>

    <body id="container">


        <div id="header">

            <div id="logo">
               <%= image_tag("food.jpg") %>
               <%= "Foodogle" %>
            </div>

            <div id="wrapper">

              <div id="menu">
                <nav class="options">
                  <ul>
                    <li><%= link_to "Home", '/pages/home' %></li>
                    <li><%= link_to "Recipes", '/recipes' %></li>
                    <li><%= link_to "Cuisines", '/cuisines' %></li>
                    <li><%= link_to "Ingredients", '/ingredients' %></li>
                  </ul>
                </nav>
              </div>

              <div id="search" >
                  <%= form_tag recipes_path, :method => 'get', :id => 'home' do %>
                      <p>
                        <%= text_field_tag :search, params[:search] %>
                        <%= submit_tag "Search Recipe", :name => nil %>
                      </p>
                  <% end %>
              </div>

            </div>
        </div>


        <div id="columns">

          <div id="sidebar">
                <ul>
			        <h4>Quick links</h4>

			        <li><%= link_to "Add your Recipe", new_recipe_path %></li>
                    <li><%= link_to "Add a Cuisine", new_cuisine_path %></li>
                    <li><%= link_to "Search by ingredients", '/ingredients' %></li>

                    <br/>

                    <h4>Cuisines</h4>

                    <% $cuisines = Cuisine.find(:all, :limit => 10)  %>
                    <% $cuisines.each do |cuisine| %>
                        <li><%= link_to cuisine.title, cuisine %></li>
                    <% end %>
                    <br/>
                    <div id= "more">

                        <%= link_to "more", '/cuisines' %>
                    </div>

			    </ul>
          </div>

          <div id="main">
                <%= yield %>
          </div>

        </div>



    </body>

    <div id="footer-menu">
	        <ul>
	        	<li><a href="/pages/home">Homepage</a></li>
                <li><a href="/pages/about">About</a></li>
		        <li><a href="/pages/contact">Contact</a></li>
	        </ul>

    </div>
    <div id="footer">
	        <p>Copyright (c) 2011 foodogle.com. All rights reserved. Designed by Himani Ahuja</p>
    </div>

    <script type="text/javascript">
       (
            function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            }
        )
        ();

    </script>


</html>